<h1>About Pup Pics </h1>
<p>Think your dog is cute enough? Cute enough to impress someone else? Cute enough to be the cutest?</p>
	<p>Submit a picture of your dog, and if it has the most votes at the end of the month, you will be sent $40* via Paypal.</p>


	<p>*That you're totally going to spend on the dog that helped you win. Right?</p>