<h1><div style="font-size: 50px; color:white">Tri Fit</div></h1>
<p><div ste="color:white"><strong>Fitness. Simplified.</strong></div></p>


<div class="arrow-up1">
<div class="arrow-up2">
</div>
</div>

<div class="mission" style="position: relative; top: 230px; left: 350px; font-size: 40px; color:black"><p> Choose a responsibility </p></div>
<div class ="mission" style="position: relative; top: 100px; left: 350px; font-size:18px; color:white"><p>;) </div>

<div style="position: relative; top: -633px; left: 425px;"><%= link_to "Diet", "#", class: "btn btn-default btn-circle" %>
</div>

<div style="position: relative; bottom: 358px; left: 0px; font-size: 30px"><%= link_to "Exercise", "#", class: "btn btn-default btn-circle" %>
</div>

<div style="position: relative; bottom: 508px; right: -860px; font-size: 30px"><%= link_to "Recovery", "#", class: "btn btn-default btn-circle" %>
</div>