<h1><div style="font-size: 50px; color:white">Tri Fit</div></h1>
<p><div ste="color:white"><strong>Fitness. Simplified.</strong></div></p>


<div class="arrow-up1">
<div class="arrow-up2">
</div>
</div>

<div style="position: relative; top: 210px; left: 400px; font-size: 40px; color:black"><p> Our Mission </p></div>
<div class ="mission" style="position: relative; top: 220px; left: 350px; font-size:18px; color:black"><p>To break fitness down into its simplest form while offering affordable and effective training and dietary programs, so that a healthy lifestyle can be achievable by all. </div>

<div style="position: relative; top: -400px; left: 425px; font-size: 30px" class="circle">
	<p>Diet</p>
</div>

<div class="circle" style="position: relative; bottom: 125px; left: 0px; font-size: 30px">
	<p>Exercise</p>
</div>

<div class="circle" style="position: relative; bottom: 275px; right: -860px; font-size: 30px">
	<p>Recovery</p>
</div>

<div style="position: relative; bottom: 250px; left: 250px;">
	<p><font color="white" style="font-size: 20px"><i>"A journey of a thousand miles begins with a single step."</i></font></p>
	<div style="position: relative; left: 400px;"><p><font color="white"> - Chinese Philospher Laozi </font></p></div>
</div>

<div style="position: relative; bottom: 200px; left: 410px;">
	<p>
		<%= link_to "Log In", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %> 
	</p>
</div>