<div class="arrow-up3">
</div>





<div style="position: absolute; top: 550px; left: 886px;"><%= link_to "", "#", class: "btn btn-default btn-circle" %>
</div>

<div style="position: absolute; bottom: 49px; left: 767px; font-size: 30px"><%= link_to "", "#", class: "btn btn-default btn-circle" %>
</div>

<div style="position: absolute; bottom: 49px; right: 763px; font-size: 30px"><%= link_to "", "#", class: "btn btn-default btn-circle" %>
</div>

<div class="mission" style="position: absolute; top: 715px; left: 800px; font-size: 40px; color:black"><p> TriFit </p></div>